
<div class="section" data-height="475">
	<h1>Change password</h1>
	<span class="error"></span>
	<%_ if (isLogged) { -%>
		<input type="hidden" name="csrf" value="<%= csrf %>">
		<input type="password" name="old-password" data-type="password" placeholder="Old Password" required>
	<%_ } else { -%>
		<input type="hidden" name="token" value="<%= token %>">
	<%_ } -%>
	<div class="row-container">
		<a href="javascript:void(0)" class="handler-at" id="toggle-password">
			<img width="25" src="/resources/svg/eye-enable.svg" alt="Show Password">
		</a>
		<input type="password" id="password" name="password" data-type="password" placeholder="New Password" required>
	</div>
	<div class="row-container">
		<div class="handler-at" id="handler-alert">!</div>
		<input type="password" id="password-repeat" data-type="password" placeholder="Confirm New Password" required>
	</div>
	<div class="pwrd-strength">
		<span id="password-strength">Waiting for input...</span>
		<div class="pwrd-strength-bar-container">
			<div class="pwrd-strength-bar" id="password-bar"></div>
		</div>
		<span id="warning" style="margin-top: 10px"></span>
	</div>
	
	<ul class="pwrd-suggestions" id="suggestions"></ul>

	<button class="submit" id="btn">Continue</button>
</div>
<div class="section" data-height="260">
	<h1>Are you a robot?</h1>
	<div class="h-captcha" data-sitekey="<%= key %>"></div>
	
	<button class="submit">Continue</button>

	<p class="small">This site is protected by <a href="https://www.hCaptcha.com">hCaptcha</a> and its <a href="https://www.hcaptcha.com/privacy">Privacy Policy</a> and <a href="https://www.hcaptcha.com/terms">Terms of Service</a> apply.
</div>
<div class="section" data-height="150">
	<h1>Settings Updated</h1>
	<p>Your password has been updated.</p>
</div>
