<%
	/*
		robotoskunk.com - The whole main website of RobotoSkunk.
		Copyright (C) 2023 Edgar Alexis Lima <contact@robotoskunk.com>

		This program is free software: you can redistribute it and/or modify
		it under the terms of the GNU Affero General Public License as published
		by the Free Software Foundation, either version 3 of the License, or
		(at your option) any later version.

		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU Affero General Public License for more details.

		You should have received a copy of the GNU Affero General Public License
		along with this program.  If not, see <https://www.gnu.org/licenses/>.
	*/
-%>

<div class="section" data-height="200">
	<h1>Forgot password</h1>
	<span class="error"></span>
	<input type="email" name="email" placeholder="Email" required>

	<button class="submit">Continue</button>
</div>
<div class="section" data-height="260">
	<h1>Are you a robot?</h1>
	<div class="h-captcha" data-sitekey="<%= key %>"></div>
	
	<button class="submit">Continue</button>

	<p class="small">This site is protected by <a href="https://www.hCaptcha.com">hCaptcha</a> and its <a href="https://www.hcaptcha.com/privacy">Privacy Policy</a> and <a href="https://www.hcaptcha.com/terms">Terms of Service</a> apply.
</div>
<div class="section" data-height="150">
	<h1>Check your email</h1>

	<p class="small">If you have an account, we have sent you an email with a link to reset your password.</p>
</div>
