<input type="hidden" name="csrf" value="<%= csrf %>">

<div class="section" data-height="375">
	<h1>We need to top up your account</h1>
	<span class="error"></span>
	<input type="date" name="birthdate" placeholder="birthdate" min="<%= min %>" max="<%= max %>" required>

	<p class="small">Terms of Service has been updated. By continuing, you agree to our <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>. <a href="javascript:void(0)" id="learn-more">Learn more</a>.</p>
	<p class="small">If you don't agree, you can request an <a href="/accounts/delete">account deletion</a>.</p>
	
	<button class="submit">Continue</button>
</div>
<div class="section" data-height="300">
	<h1>Why do we need this?</h1>

	<p>We need to know your birthdate to make sure you are old enough to use the service. Also, your age will be used in the future to determine which content you can see.</p>
	<p>Don't worry, your birthdate will not be shared with anyone.</p>

	<button class="submit" id="back">Continue</button>
</div>
<div class="section" data-height="150">
	<h1>Settings Updated</h1>
	<p>Your settings have been updated.</p>
</div>
