@import './fonts/raleway.css';

h1, h2 { font-family: 'Raleway'; }

.col-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.col-container > div {
	padding: 5px;
	margin: 10px;
}

.anim {
	position: relative;
	transition: all 0.3s ease;
}

.alex-ref {
	max-width: 90%;
	border: solid 2px white;
	background-color: white;
	border-radius: 15px;
	margin: 5px auto;
}
.alex-ref img {
	border-radius: 15px;
	width: 100%;
	margin: 0;
}
.alex-ref a {
	margin: 5px;
}

@media only screen and (max-width: 1000px) {
	.col-container {
		flex-direction: column;
	}
}
