.settings-container {
	display: flex;
	flex-direction: row;

	margin: 50px auto;
	width: 100%;
	max-width: 1200px;
	padding: 0 20px;
}

.side-panel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	width: 100%;
	max-width: 300px;
	padding: 20px;
}
.main-panel {
	width: 100%;
	padding: 0 20px;
	text-align: left;

	display: grid;
}

.main-panel > .panel {
	display: inline-block;
	overflow-x: hidden;

	position: relative;
	top: -50px;
	width: 100%;
	opacity: 0;
	grid-area: 1 / 1 / 2 / 2;
	visibility: hidden;

	transition: top ease 0.75s, visibility ease 0.5s, opacity ease 0.5s;
}
.main-panel > .panel.show {
	top: 0px;
	opacity: 1;
	visibility: visible;
}


.side-panel > button {
	position: relative;
	left: 0;
	width: 85%;
	max-width: 300px;
	padding: 10px;

	background-color: black;
	color: white;
	border: 0px;
	margin: 0 0 10px;
	border-radius: 0px 25px 25px 0px;

	font-size: 18px;
	font-family: 'Roboto Condensed';
	text-align: left;

	cursor: pointer;
	transition: background-color 0.2s, color 0.2s, width 0.5s;
}
.side-panel > button:hover, .side-panel > button:focus { background-color: #505050; }
.side-panel > button.active {
	background-color: white;
	color: black;
	width: 100%;
}


.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	width: 100%;
}
.row .badge { font-size: 14px; }
.row .date {
	margin-left: 5px;
	color: #aaaaaa;
	background-color: #161616;
	border-radius: 5px;
	padding: 3px;
}
.row .date:hover { color: white; }

/* #region Email List */
.email-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	width: 100%;
	padding: 20px 0;
}
.email-list > div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	width: 100%;
	padding: 10px 0;

	border-bottom: 1px solid #333;
}
.email-list > div:first-child { border-top: 1px solid #333; }
/* #endregion */

/* #region Sessions */
.sessions {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	width: 100%;
	padding: 20px 0;
}
.session {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	padding: 10px 0;

	border-bottom: 1px solid #333;
}
.session:first-child { border-top: 1px solid #333; }
.session > img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.session > .device-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	width: 100%;
}
.session > .device-info > .device-name {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	font-family: 'Roboto Condensed';
	font-size: 16px;

	width: 100%;
}
/* #endregion */

/* #region Footers */
.email-list > div > .footer,
.session > .device-info > .footer {
	font-family: 'Roboto Condensed';
	font-size: 13px;
	margin-top: 5px;
}
.email-list > div > .footer a,
.session > .device-info > .footer a
{ color: white; }
.actions > a { margin: 0 5px; }
/* #endregion */

.loading-container {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

hr {
	width: 100%;
	border: 0;
	border-top: 1px solid #333;
	margin: 25px 0;
}

.email-types {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 10px;

	width: 100%;
}



@media screen and (max-width: 1000px) {
	.settings-container {
		flex-direction: column;
		padding: 0;
	}
	.side-panel {
		padding: 0;
		margin-bottom: 20px;
	}
	.main-panel {
		padding: 0 10px;
		max-width: calc(100% - 20px);
	}
}
@media screen and (max-width: 800px) {
	input { max-width: 100%; }
	.email-types {
		flex-direction: column;
		align-items: flex-start;
	}
}
@media screen and (max-width: 500px) {
	.email-list > div > .footer,
	.session > .device-info > .footer {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.email-list > div > .footer > div,
	.session > .device-info > .footer > div
	{ margin-top: 5px; }

	.side-panel {
		width: 90%;
		max-width: 90%;
	}
	.side-panel > button { max-width: 100%; }
}
