<!DOCTYPE html>
<meta charset="utf-8">

<div style="font-family: sans-serif; background-color: #f0f0f0; padding: 25px; text-align: center">
	<img src="<%= root %>/resources/img/logo-512.webp" alt="RobotoSkunk's logo" width="150px">
	<table style="background-color: white; text-align: left; padding: 15px; margin: 15px auto; width: 95%; max-width: 750px">
		<tbody>
			<tr>
				<td>
					<%- body %>
	</table>
	<p style="margin-bottom: 15px">This email has been sent to <%= recipient %>.
	<p style="margin-bottom: 5px">RobotoSkunk Poza Rica de Hidalgo, Veracruz, México.
	<p style="margin-bottom: 50px"><a href="<%= root %>" style="color: #555555">robotoskunk.com</a>
</div>
