#notifications {
	position: fixed;
	right: 0px;
	bottom: 15px;
	width: 100%;
	max-width: 500px;
	z-index: 500;
}
.notification {
	width: 85%;
	max-width: 500px;
	height: auto;
	padding: 25px 15px 25px 15px;
	border-radius: 5px;

	position: relative;
	font-size: 15px;
	font-weight: bold;
	color: #121212;

	margin: 10px;

	transition: right 0.5s cubic-bezier(0.67, -0.59, 0.31, 1.39);
} .notification:hover { cursor: pointer; }
.notification.info    { background-color: #47a8f5; }
.notification.success { background-color: #2fb986; }
.notification.warning { background-color: #ffc845; }
.notification.error   { background-color: #f66359; }
