<img-parallax src="./resources/img/banner-about.webp" style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: calc(100vh - 50px);" delay="1.5">
	<div style="width: 100%; background-color: rgba(0, 0, 0, 0.5);">
		<h1>About</h1>
	</div>
</img-parallax>
<div style="background-color: white; padding: 5px; color: black; font-size: 18px;" class="col-container">
	<div class="col anim" id="part-1" style="max-width: 750px;">
		<p><b>Edgar Lima (RobotoSkunk)</b> is a 21-year-old Mexican developer, graphic designer and cartoonist. He's currently cursing a bachelor's degree at ITSPR university.
		<p>He's very passionate about technological advancements, graphic design, animation, video games, and indie projects.
		<p>Edgar has big plans in mind, the plans of which will take time and effort to accomplish, but he doesn't give up until he gets what he wants.
		<p>RobotoSkunk is commonly referred on the internet as Roboto or Skunk, so you can name it in both ways.
	</div>
	<div>
		<img id="img-1" class="anim" src="./resources/img/alex-about.webp" alt="Alex Skunk angry with his tongue sticking out" width="512" height="512" style="height: auto;">
	</div>
</div><br>
<h2 id="alex-skunk">His character</h2>
<div id="img-2" class="anim" style="font-size: 18px; max-width: 1200px; margin: 0 auto; padding: 0 15px;">
	<div class="alex-ref">
		<img src="./resources/img/alex-skunk-ref2021.webp" alt="Alex Skunk design sheet" width="1080" height="540" style="height: auto;">
		<a class="btn-3" href="/resources/img/alex-skunk-ref2021.png" target="_blank">Download original</a>
	</div>
	<p>Alex Skunk is the avatar of RobotoSkunk, he was designed to represent him in the world of the Internet and to be the mascot of his projects. Edgar likes skunks, it's more than obvious that they are his favorite animal (the pattern of the fur caught his attention), so he opted for the character to be a skunk.
	<p>He was created on January 7, 2017 (according to the first publication that he made of said character) as a simple avatar, and with the passage of time his design was changing until he's as he's today.
</div><br>
<h2 id="website">This website</h2>
<div style="font-size: 18px; max-width: 1050px; margin: 0 auto; padding: 0 15px;">
	<p>This website was created with the purpose of managing user accounts and subscriptions for future projects.
	<p>At the moment it's still under construction, but when it is finished it's use will be too important.
	<p>Also this website is being hosted from DigitalOcean, you can support me using the following link that will give you $100 USD to use for 60 days in DigitalOcean and have your own VPS.</p>
	<a href="https://www.digitalocean.com/?refcode=5f2883f44fe6&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" target="_blank" aria-label="DigitalOcean badge button">
		<img src="/resources/svg/digitalocean-referral.svg" alt="DigitalOcean Referral Badge" width="200" height="65">
	</a>
</div><br>
