<br><br>
<p><img src="./resources/svg/PM-title.svg" style="max-width: 90%; height: auto;" width="750" height="185" alt="PixelMan Adventures title"><br>
<p>PixelMan Adventures is a platformer video game that originally emerged as a simple test, but is now being developed thoroughly.
<p>For now, the game is still under development and is being transferred from Game Maker to Unity. It has a very powerful level editor to make your imagination fly.
<p>It has a Launcher that will keep the game updated to the latest version available.</p><br>
<p><img style="max-width: 90%; height: auto;" width="1002" height="639" src="./resources/img/launcher.webp" alt="PixelMan Adventures launcher preview">
<p style="font-size: 30px;">Download on...
<p>
	<a class="btn-1 no-select" style="font-size: 35px;" href="https://gamejolt.com/games/pixelman/410001" target="_blank" title="Download PixelMan Adventures on Gamejolt" alt="Download PixelMan Adventures on Gamejolt">Gamejolt</a>
	<a class="btn-1 no-select" style="font-size: 35px;" href="https://robotoskunk.com/pixelman/releases/windows/PixelMan_Launcher.exe" target="_blank" title="Download launcher" alt="Download launcher of PixelMan Adventures">Launcher</a>
</p><br>
<p>
	<a class="patreon-btn no-select" href="https://www.patreon.com/RobotoSkunk" target="_blank" alt="Support me on Patreon">
		<svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 150 150">
			<circle fill="#f9685f" cx="75" cy="75" r="75"></circle>
			<path fill="#052d49" d="M31.729 27.659h17.578v95.888H31.729z"></path>
			<circle fill="#fff" cy="63.565" cx="95.783" r="35.955"></circle>
		</svg>
		<span>Support me on Patreon!</span>
	</a>
	<p>
		<script nonce="<%= nonce %>">
			kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'F1F576K8X');
			kofiwidget2.draw();
		</script> 
	</p>
	<a id="paypal-donate-button" class="paypal-donation-btn no-select" href="https://www.paypal.com/donate/?hosted_button_id=3JHSMUXWCY7FY" target="_blank" title="PayPal - The safer, easier way to pay online!" alt="Support me with PayPal!">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 326.96 385.77" width="18px" height="21px">
			<path fill="white" d="M92.89 372.69l6.69 -42.47 -14.89 -0.35 -71.12 0 49.42 -313.36c0.15,-0.95 0.65,-1.83 1.38,-2.45 0.73,-0.63 1.66,-0.97 2.63,-0.97l119.91 0c39.81,0 67.28,8.28 81.62,24.63 6.72,7.67 11.01,15.69 13.08,24.51 2.17,9.25 2.21,20.31 0.09,33.8l-0.15 0.98 0 8.64 6.72 3.81c5.66,3 10.16,6.44 13.61,10.38 5.75,6.56 9.47,14.89 11.05,24.78 1.62,10.16 1.09,22.26 -1.57,35.95 -3.07,15.75 -8.03,29.47 -14.73,40.69 -6.16,10.34 -14.01,18.92 -23.33,25.57 -8.9,6.31 -19.47,11.11 -31.42,14.18 -11.58,3.02 -24.79,4.54 -39.27,4.54l-9.33 0c-6.67,0 -13.15,2.4 -18.24,6.71 -5.1,4.4 -8.48,10.41 -9.51,16.98l-0.7 3.82 -11.81 74.85 -0.54 2.75c-0.14,0.87 -0.38,1.3 -0.74,1.6 -0.32,0.27 -0.78,0.45 -1.23,0.45l-57.61 -0z">
			<path fill="#bde6fa" d="M294.64 98.01l0 0 0 0c-0.36,2.29 -0.77,4.63 -1.23,7.03 -15.81,81.19 -69.91,109.24 -139.01,109.24l-35.18 0c-8.45,0 -15.57,6.14 -16.89,14.47l0 0 0 0 -18.01 114.23 -5.1 32.38c-0.86,5.47 3.36,10.41 8.88,10.41l62.4 0c7.39,0 13.67,-5.37 14.83,-12.66l0.61 -3.17 11.75 -74.55 0.75 -4.09c1.15,-7.31 7.44,-12.68 14.83,-12.68l9.33 0c60.45,0 107.78,-24.54 121.61,-95.57 5.78,-29.67 2.79,-54.45 -12.5,-71.87 -4.63,-5.25 -10.37,-9.61 -17.08,-13.17z">
			<path fill="#ebf7fe" d="M278.09 91.42c-2.42,-0.7 -4.91,-1.34 -7.47,-1.92 -2.57,-0.56 -5.2,-1.06 -7.91,-1.5 -9.49,-1.53 -19.88,-2.26 -31.01,-2.26l-93.98 -0c-2.31,0 -4.51,0.52 -6.48,1.47 -4.33,2.08 -7.56,6.19 -8.34,11.21l-19.99 126.63 -0.58 3.69c1.32,-8.34 8.44,-14.47 16.89,-14.47l35.18 0c69.09,0 123.19,-28.06 139.01,-109.24 0.47,-2.4 0.87,-4.74 1.23,-7.03 -4,-2.12 -8.34,-3.94 -13,-5.48 -1.15,-0.38 -2.34,-0.75 -3.54,-1.11z">
			<path fill="white" d="M122.9 98.42c0.78,-5.02 4,-9.13 8.34,-11.2 1.98,-0.95 4.17,-1.47 6.48,-1.47l93.98 0c11.14,0 21.53,0.73 31.01,2.26 2.71,0.43 5.34,0.93 7.91,1.5 2.56,0.58 5.05,1.21 7.47,1.92 1.2,0.36 2.39,0.73 3.55,1.1 4.67,1.55 9,3.37 13,5.48 4.7,-30 -0.04,-50.43 -16.26,-68.93 -17.88,-20.36 -50.16,-29.08 -91.47,-29.08l-119.91 0c-8.44,0 -15.63,6.14 -16.94,14.48l-49.95 316.59c-0.98,6.26 3.85,11.91 10.16,11.91l74.03 0 18.59 -117.93 19.99 -126.63z">
		</svg>
		<span>Support me with PayPal!</span>
	</a>
</p><br>
