<%
	/*
		robotoskunk.com - The whole main website of RobotoSkunk.
		Copyright (C) 2023 Edgar Alexis Lima <contact@robotoskunk.com>

		This program is free software: you can redistribute it and/or modify
		it under the terms of the GNU Affero General Public License as published
		by the Free Software Foundation, either version 3 of the License, or
		(at your option) any later version.

		This program is distributed in the hope that it will be useful,
		but WITHOUT ANY WARRANTY; without even the implied warranty of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
		GNU Affero General Public License for more details.

		You should have received a copy of the GNU Affero General Public License
		along with this program.  If not, see <https://www.gnu.org/licenses/>.
	*/
-%>
<input type="hidden" name="csrf" value="<%= csrf %>">

<div class="section" data-height="280">
	<h1>Two-factor authentication</h1>
	<div style="width: 80%;">
		<p>Enter your two-factor authentication code using your 2fa app, or the recovery code you were given.</p>
	</div>
	<input type="text" name="twofa" placeholder="2FA code" required>
	<span class="error"></span>

	<button class="submit">Continue</button>
</div>
<div class="section" data-height="150">
	<h1>Sign In Successful</h1>
	<div style="width: 80%;">
		<p>You have successfully signed in. You will be redirected to the home page shortly.</p>
	</div>
</div>
