<br><br>
<h1>Stadistics for this website</h1>

<!-- <div class="bored-header">
	<h2 style="font-size: 20px;">This transparency report is intended to show the current analytics of this website. It's updated in real time.</h2>
</div> -->

<div class="bored-body">
	<div class="bored-container">
		<h2>Visits per country</h2>
		<div id="stats-map" class="stats-map"></div>
		<blockquote>
			<p>This map was generated using <a href="https://github.com/StephanWagner/svgMap" target="_blank">svgMap</a> by <a href="https://github.com/StephanWagner" target="_blank">Stephan Wagner</a>.
		</blockquote>
	</div>
</div>

