<br/><br/>
<h1>Terms of service</h1>
<div class="bored-header">
	<p>I know it's tempting to skip the terms of service and just use the website, but it's important to read them first.
</div>
<div class="bored-body">
	<div class="bored-container">
		<p>THESE TERMS OF SERVICE MAY BE SUBJECT TO CHANGE DEPENDING ON WHAT IS MOST CONVENIENT FOR ROBOTOSKUNK. WHEN YOU CREATE YOUR ACCOUNT YOU ARE ACCEPTING THESE TERMS OF SERVICE; IN CASE OF BEING AGAINST THE TERMS OF SERVICE, DELETE YOUR ACCOUNT.
		<p><b>Last update: <script nonce="<%- locals.nonce %>">document.write(new Date(parseInt('<%- locals.lastUpdate %>')).toLocaleDateString());</script></b>


		<h2>WHAT CAN YOU EXPECT FROM ROBOTOSKUNK</h2>

		<h3>SECURITY</h3>
		<p>RobotoSkunk is committed to keeping your account data safe and to solving any problem that may compromise the security of your account. In addition to always using the most up-to-date and secure algorithms to date to maintain a completely safe stay for you and the other users of the website.

		<h3>PRIVACY</h3>
		<p>RobotoSkunk will never sell or share your personal data with third parties. Your personal data will only be used to provide you with the best possible service. In addition, RobotoSkunk will never use your personal data for any other purpose than the one you have given it.


		<h2>WHAT ROBOTOSKUNK WANTS TO EXPECT OF YOU</h2>

		<h3>YOUR AGE</h3>
		<p>You must be at least 13 years old to use this website. This website is not intended for children under 13 years of age. RobotoSkunk does not knowingly collect personal data from children under 13 years of age. If you are under 13 years of age, do not use this website or provide any personal data to RobotoSkunk.
		<p>If RobotoSkunk learns that personal data has been collected from a child under 13 years of age without verification of parental consent, RobotoSkunk will take the necessary measures to ban the child from using the website and delete the personal data. If you believe that RobotoSkunk has any information from or about a child under 13 years of age, please contact RobotoSkunk.

		<h3>YOUR ACCOUNT</h3>
		<p>You are responsible for your login credentials and any activity related to the use of your login credentials. RobotoSkunk likewise agrees to protect your login credentials saved in the database, but likewise keep your credentials protected and NEVER SEND YOUR CREDENTIALS TO ANYONE, INCLUDING THE ADMINISTRATORS OF THIS WEBSITE.
		<p>RobotoSkunk reserves the right to reject, delete and modify your user account data in the event that these are not considered appropriate for the website giving a reason for the rejection, deletion or modification of your user account data.
		<p>RobotoSkunk is not responsible for any loss or damage resulting from the unauthorized use of your login credentials.

		<h3>RULES OF CONDUCT</h3>
		<p>This site provides interactive services such as shouts on user accounts, the public information of your user account and generating commission requests. Due to this, you agree not to use the previously mentioned services to:
		<ul>
			<li>share and post hateful or harassing content;
			<li>defame, slander, mock, harass, threaten, harass, intimidate, or abuse someone;
			<li>engage in fraudulent or illegal conduct that may harm both RobotoSkunk and other users of the website;
			<li>make inappropriate use of the commission form and shouts;
			<li>share links that lead to the download of viruses or any other content harmful to users;
			<li>try to impersonate someone else;
			<li>request to be a moderator of the website.
		</ul>
		<p>You are fully responsible for your interaction with other users. RobotoSkunk fully disclaims all responsibilities of you or any third party in relation to the use of the service. RobotoSkunk reserves the right, but has no obligation, to resolve conflicts between other users of the website.
		<p>This policy is not intended to limit any legal rights or remedies that you may have against third parties.

		<h3>OPINIONS</h3>
		<p>RobotoSkunk loves to receive opinions and criticisms about this website as they help too much to improve the quality of this service. If you decide to provide information, comments or suggestions to improve the service, either orally or in writing, you represent and warrant that:
		<ul>
			<li>you have the right to disclose opinions;
			<li>the opinions don't infringe the rights of any person or entity;
			<li>their opinions don't contain confidential or proprietary information of any third party or third parties.
		</ul>

		<h3>INTELLECTUAL PROPERTY</h3>
		<p>RobotoSkunk is the owner of all intellectual property rights of this website. You may not use, copy, reproduce, modify, publish, upload, post, transmit, distribute, perform, display, license, sell or create derivative works from any content of this website, including but not limited to text, graphics, logos, icons, images, audio clips, video clips, data compilations, software, and other content, without the prior written consent of RobotoSkunk.
		
		<h3>LINKS</h3>
		<p>RobotoSkunk may provide links to other websites. These links are provided for your convenience to provide further information. They do not signify that RobotoSkunk endorses the website(s). RobotoSkunk has no responsibility for the content of the linked website(s).

		<h2>COMMISSIONS</h2>
		<p>This website provides a commissions service where you can request commissions from RobotoSkunk. When you request a commission, you agree to the following:
		<ul>
			<li>you will pay the commission price in the US dollar currency using the PayPal payment method;
			<li>you can't request a commission if your request is targeted as adult content or contains adult content like nudity, sexual acts, etc.;
			<li>you can't request a commission if your request is targeted as violent content or contains violent content like gore, blood, etc.;
			<li>be patient and respectful with RobotoSkunk, as he is a human being and has a life outside of this website;
			<li>and respond to RobotoSkunk's messages in a timely manner.
		</ul>

		<h3>REFUNDS</h3>
		<p>RobotoSkunk will not refund any commission request. If you are not satisfied with the commission, you can request a revision of the commission. If you request a revision, you must provide a detailed explanation of what you want to change in the commission.
		
		<h3>THIRD-PARTY CHARACTERS</h3>
		<p>RobotoSkunk will not draw any third-party characters without the permission of the owner of the character. If you want RobotoSkunk to draw a third-party character, you must provide the permission of the owner of the character. If you don't provide the permission of the owner of the character, RobotoSkunk will not draw the character.
		<p>If the character is public-domain, there's no need to provide the permission of the owner of the character.
		<p>RobotoSkunk will not draw any commission that infringes the copyright of any person or entity.

		<h3>COPYRIGHT</h3>
		<p>If you request a commission, you agree to share the commission copyright with RobotoSkunk. This means that you and RobotoSkunk will share the same rights of the work.
		<p>RobotoSkunk will use the commission for promotional purposes such as posting the commission on social media, posting the commission on the website, etc. If you don't want RobotoSkunk to use the commission for promotional purposes, you must inform RobotoSkunk before requesting the commission.
		<p>You can use the commission for any purpose you want, including but not limited to posting the commission on social media, posting the commission on the website, etc. You can also use the commission for commercial purposes.
		<p>In case of a violation of the commission's signature, RobotoSkunk will have the right to own the full copyright of the commission.

		<h3>CHANGES TO THE COMMISSION</h3>
		<p>You can request changes to the commission at any time, but, only if the changes are not significant and it doesn't missmatch the commission's order and description.

		<h3>ABUSE OF THE COMMISSIONS SERVICE</h3>
		<p>RobotoSkunk reserves the right to reject your commission request in the event that these are not considered appropriate for the website giving a reason for the rejection of your commission request.
		<p>In case of abuse of the commissions service such as spamming, harassment, etc., RobotoSkunk reserves the right to ban you from the commissions service.

		<h3>ANONYMOUS COMMISSIONS</h3>
		<p>RobotoSkunk have the right to refuse anonymous requests for commissions at any time without giving a reason for the refusal of the commission request.

		<h3>UNDERAGE RESTRICTIONS</h3>
		<p>If you are under 18 years old, you must have the permission of your parents or legal guardian to request a commission. If you don't have the permission of your parents or legal guardian, you can't request a commission and your commission request will be rejected.

		<h2>GENERAL</h2>
		<p>IT SHOULD BE REMEMBERED THAT THESE CONDITIONS MAY BE SUBJECT TO CHANGE, SO DON'T TRY TO PRETEND AND USE ANY GAP IN THESE CONDITIONS OF SERVICE. IGNORANCE OF THESE CONDITIONS OF SERVICE DOESN'T SAVE YOU FROM ANY BREACH OF THEM.
	</div>
</div>
