@font-face {
	font-family: 'PayPal';
	src: local('PayPal'),
		local('PayPalSans'),
		url('./ttf/PayPalSansSmallMedium-Regular.woff2') format('woff2'),
		url('./ttf/PayPalSansSmallMedium-Regular.woff') format('woff'),
		url('./ttf/PayPalSansSmallMedium-Regular.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}
