@font-face {
	font-family: 'Raleway';
	src: local('Raleway'),
		url('./ttf/Raleway-VariableFont_wght.woff2') format('woff2'),
		url('./ttf/Raleway-VariableFont_wght.woff') format('woff'),
		url('./ttf/Raleway-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
	font-weight: 300;
}

