<br><br>
<h1>Commissions Rules</h1>
<div class="row">
	<img src="/resources/svg/comms/paypal-or-credit.svg" width="250" height="205" alt="PayPal or Credit">
	<div class="row-content">
		<h2>Only PayPal or credit</h2>
		<p>The payment process will be handled by PayPal.
	</div>
</div>
<div class="row reverse">
	<img src="/resources/svg/comms/no-nsfw.svg" width="238" height="225" alt="No NSFW">
	<div class="row-content">
		<h2>No NSFW</h2>
		<p>No fetish, nudity, erotic content or pornography in general.
	</div>
</div>
<div class="row">
	<img src="/resources/svg/comms/please-explain-more.svg" width="300" height="222" alt="Examplain more">
	<div class="row-content">
		<h2>Explain more</h2>
		<p>Explain how you want your commission without skipping any points (but don't overdo it either).
	</div>
</div>
<div class="row reverse">
	<img src="/resources/svg/comms/be-respectful.svg" width="350" height="232" alt="Be respectful">
	<div class="row-content">
		<h2>Be respectful</h2>
		<p>Drawing takes time, and more considering that there are several orders to finish.
	</div>
</div>
<div class="row">
	<img src="/resources/svg/comms/calendar.svg" width="300" height="191" alt="Calendar">
	<div class="row-content">
		<h2>Try to respond quickly</h2>
		<p>All commissions have a time limit to be delivered. If you're slow to respond, the time limit will be extended.
	</div>
</div>
<div style="background-color: white; color: black; padding: 15px">
	<img src="/resources/svg/comms/copyright.svg" width="125" height="125" alt="Copyright">
	<h2>Copyright</h2>
	<div style="max-width: 750px; margin: 0 auto; font-size: 18px;">
		<p><b>Commissions will only be made of your original characters and RobotoSkunk characters, you cannot request a drawing with a character from a third party without permission.</b>
		<p>The owner of the order and RobotoSkunk will share the same rights of the work.
		<p>RobotoSkunk will use the resulting work to promote his commissions, while the owner of the order will be able to do whatever they want as long as the signature hasn't been violated.
		<p>In case of <b>violation of the signature</b> or <b>attempt to take ownership of the commission</b>, RobotoSkunk will deny access to the user's account to the commissions form and own all rights of the work.
		<p style="margin-top: 50px">For more information, please read the <a href="/terms">Terms of Service</a>.
	</div>
</div>
